/* --------------------------------- */
/* ----- Articles -----*/
/* --------------------------------- */

.article-boxes {
    display: flex;
    flex-flow: row wrap;
    gap: 3.5%;
    margin-block-start: var(--gutter-x-large);
}

.article-box {
    flex-basis: 31%;
    border: 1px solid var(--border);
    padding: var(--gutter-medium) var(--gutter-small);
    border-radius: var(--gutter-nano);
    background-color: var(--bg-color-secondary);
}

.article-textbox {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.article-text {
    font-size: var(--text-small);
    margin-block: var(--gutter-x-small);
}

.article-info {
    display: flex;
    justify-content: space-between;
    margin-block-start: auto;
}

.reaction-count {
    display: inline-flex;
    align-items: center;
    gap: var(--gutter-nano);
    font-size: initial;
}

@media (max-width: 985px) {
    .article-boxes {
        max-inline-size: 685px;
        margin-inline: auto;
        justify-content: center;
        gap: 4%;
    }

    .article-box:nth-of-type(2),
    .article-box:nth-of-type(3) {
        flex-basis: 48%;
    }

    .article-box:last-child {
        display: none;
    }
}

@media (max-width: 650px) {
    .article-box:nth-child(2),
    .article-box:nth-child(3),
    .article-box:last-child {
        flex-basis: 100%;
    }

    .featured-article {
        margin-block-end: 0;
    }

    .article-box:not(:last-child) {
        margin-block-end: var(--gutter-x-small);
    }

    .article-box:last-child {
        display: block;
    }
}