/* --------------------------------- */
/* ----- Featured article -----*/
/* --------------------------------- */

.featured-article {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block-end: 44.8px;
}

@media (max-width: 985px) {
    .featured-article {
        margin-block-end: 24.4px;
        flex-direction: column-reverse;
    }
}

.featured-article .article-textbox {
    flex-basis: 44%;
}

.featured-article h3 {
    margin-block-start: var(--gutter-x-small);
}

.featured-article .article-illustration {
    flex-basis: 50%;
}

.article-illustration img {
    border-radius: var(--gutter-nano);
}

.featured-article .article-text {
    font-size: var(--text-medium);
}

.featured-article .article-info {
    justify-content: flex-start;
    gap: var(--gutter-medium);
}