/* --------------------------------- */
/* ----- Typography -----*/
/* --------------------------------- */

input,
textarea,
button {
    font: inherit;
}

p,
h1,
h2,
h3,
.h4 {
    overflow-wrap: break-word;
}

h1,
h2,
h3,
.h4 {
    font-stretch: 125%;
    line-height: 1.2;
    color: var(--important);
}

.h1 {
    font-size: var(--h1);
}

.h2 {
    font-size: var(--h2);
    text-align: center;
}

.h3 {
    font-size: var(--h3);
}

.h4 {
    font-size: var(--h4);
}

@media (max-width: 845px) {
    :root {
        --h1: 2.845rem;
        --h2: 2.45rem;
        --h3: 1.85rem;
    }
}

@media (max-width: 700px) {
    :root {
        --h1: 2.545rem;
    }
}

@media (max-width: 545px) {
    :root {
        --h1: 2.4rem;
        --text-large: 1.5rem;
    }
}

@media (max-width: 485px) {
    :root {
        --h1: 2.145rem;
        --h2: 1.875rem;
        --h3: 1.6rem;
        --text-large: 1.345rem;
    }
}
