@import "css/basic.css";
@import "css/typography.css";
@import "css/utilities.css";
@import "css/components.css";
@import "css/layout.css";
@import "css/menubtn.css";
@import "css/navigation.css";
@import "css/work.css";
@import "css/article.css";
@import "css/feauturedArticle.css";
@import "css/skills.css";
@import "css/contact.css";
@import "css/footer.css";

@import "css/buttons.css";





/* --------------------------------- */
/* ----- Header -----*/
/* --------------------------------- */

.header {
    min-block-size: calc(100vh + var(--radius));
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

body.dark .header {
    background-image: linear-gradient(#0000008b, #000000e6),
    url("assets/images/hero-bg.webp");
}

body.light .header {
    background-image: linear-gradient(#ffffffa2, #ffffffe6),
    url("assets/images/hero-bg-light.webp");
}

.header-textbox {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.h1 span {
    display: block;
}

.header-text {
    font-size: var(--text-large);
    font-weight: 400;
    max-inline-size: 745px;
    margin-block-start: var(--gutter-micro);
    margin-block-end: var(--gutter-medium);
}

@media (max-width: 1200px) {
    .header-text {
        max-inline-size: 685px;
    }
}

@media (max-width: 845px) {
    .header-text {
        max-inline-size: 585px;
    }
}

.header-btns {
    display: inline-flex;
    gap: var(--gutter-x-small);
}

@media (max-width: 400px) {
    .header-textbox {
        left: 0;
        text-align: center;
        padding-inline: 0.6rem;
    }
    .header-btns {
        flex-direction: column;
        width: 80%;
    }
}




